<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


<h3>message</h3>

<%= form_for [@user, @message] do |f| %>
  <%= f.text_field :body%>
  <%= f.submit%>
<%end%>